In [2]:
import pandas as pd

In [3]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'C'],
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

In [4]:
GS = df.groupby('Category')['Values'].sum()
GS

Category
A    40
B    60
C    50
Name: Values, dtype: int64

In [5]:
LB = df.groupby('Category').get_group('B')
LB

  Category  Values
1        B      20
3        B      40