lets start :)

In [49]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

df = pd.read_csv('weather_data.csv', parse_dates=['day'])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.1        8.1  Cloudy
8 2017-01-11         40.0       12.0   Sunny

removing the index :)

In [50]:
df.set_index(df.index, inplace=True)

In [51]:
df['temperature'] = df['temperature'].interpolate(method='linear')
df['windspeed'] = df['windspeed'].interpolate(method='linear')
df['event'] = df['event'].ffill()
df

         day  temperature  windspeed   event
0 2017-01-01         32.0      6.000    Rain
1 2017-01-04         30.0      9.000   Sunny
2 2017-01-05         28.0      8.000    Snow
3 2017-01-06         30.0      7.000    Snow
4 2017-01-07         32.0      7.275    Rain
5 2017-01-08         32.7      7.550   Sunny
6 2017-01-09         33.4      7.825   Sunny
7 2017-01-10         34.1      8.100  Cloudy
8 2017-01-11         40.0     12.000   Sunny