**Here are some question by chat GPT**

1️⃣ Create a set with the numbers {1, 2, 3, 4, 5}. Add 6 to it and remove 2. Print the final set.

In [12]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

2️⃣ Create two sets:

In [13]:
A = {2, 4, 6, 8, 10}
B = {1, 2, 3, 4, 5}

Find their union

In [14]:
C = A.union(B)
C

{1, 2, 3, 4, 5, 6, 8, 10}

Find their intersection.

In [15]:
C = A.intersection(B)
C

{2, 4}

Find the difference of A - B.

In [16]:
C = A.difference(B)
C

{6, 8, 10}

Find the symmetric difference.

In [17]:
C = A.symmetric_difference(B)
C

{1, 3, 5, 6, 8, 10}

**Intermediate Questions**

4️⃣ You have two classes:

In [18]:
tennis_class = {"John", "Emma", "Sophia", "Michael", "David"}
volleyball_class = {"Sophia", "David", "James", "Emma", "Olivia"}

Find the students who are enrolled in both sports

In [19]:
Students_enrolled = tennis_class.intersection(volleyball_class)
Students_enrolled

{'David', 'Emma', 'Sophia'}

Find the students who are only in tennis but not volleyball.

In [21]:
Students_Tennis_only = tennis_class.difference(volleyball_class)
Students_Tennis_only

{'John', 'Michael'}

Find all students enrolled in at least one sport.

In [23]:
Students_Only_one_sport = tennis_class.union(volleyball_class)
Students_Only_one_sport

{'David', 'Emma', 'James', 'John', 'Michael', 'Olivia', 'Sophia'}

 5️⃣ Use a frozenset to store the following immutable group of cities:

In [24]:
cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]

Convert it into a frozenset.

In [26]:
Frozens = frozenset(cities)
Frozens

frozenset({'Chicago', 'Houston', 'Los Angeles', 'New York', 'Phoenix'})

Try adding a new city "Miami" (What happens?).

In [27]:
Frozens.add("Miami")

AttributeError: 'frozenset' object has no attribute 'add'

**Advanced Challenges**

6️⃣ You are given two sets representing students who completed Python and Data Science courses:

In [28]:
python_students = {"Alice", "Bob", "Charlie", "David"}
ds_students = {"Charlie", "Eve", "Alice", "Frank"}

Find students who completed both courses.

In [29]:
Students_both_course = python_students.intersection(ds_students)
Students_both_course

{'Alice', 'Charlie'}

Find students who completed only one of the two courses.

In [30]:
Students_one_course = python_students.symmetric_difference(ds_students)
Students_one_course

{'Bob', 'David', 'Eve', 'Frank'}

Find students who only completed Python.

In [31]:
Students_only_python = python_students.difference(set(ds_students))
Students_only_python

{'Bob', 'David'}

7️⃣ Dictionary with Frozenset Keys
You are given employee data with their skills. Since skills should be immutable, use a frozenset as a key:

In [36]:
employees = {
    frozenset(["Python", "Data Science"]): "Alice",
    frozenset(["Java", "Spring"]): "Bob",
    frozenset(["C++", "Game Development"]): "Charlie"
}

Retrieve the employee who knows Java and Spring

In [39]:
print("The person who know Java and Spring is","".join(employees[frozenset(["Java", "Spring"])]))

The person who know Java and Spring is Bob